.git
**/node_modules/*
**/npm-debug.log
**/.husky
.venv
**/.next
**/.turbo
**/.docusaurus
**/i18n
**/meta.json
**/dist
**/out
**/uploads
**/start-urls.json

**/*.log

**/.vscode
**/.env.local
**/apps/web/.env*