.table_of_content {
  position: relative;
  width: 100%;
  min-height: 6500px;
  :global(.toc) {
    /* position: absolute;
    left: 0; */
  }

  .content__wrapper {
    /* padding-left: 30%; */
    /* width: 50%; */
    /* right: 0;
    position: absolute; */
  }
}
